    <div class="box">
        <div class="box-body">
            <div class="row">
                    {empty name="review"}
                    <div class="col-md-6">

                    <div class="form-group" >
                        <label>选择采购单</label>
                        <span></span>
                        <input type="text" class="form-control" name="" value="" id="selectPurchase">
                     </div>

                    </div>
                    {else}
                        <div class="col-md-2" style='float:left' >
                            <div class="form-group" >
                                <label>日期： <b style="font-size: 20px;text-decoration: underline;">{$review.record_date}</b></label>
                            </div>
                        </div>

                        <div class="col-md-2" style='float:right' >
                            <div class="form-group" >
                                <label>检测品管： <b style="font-size: 20px;text-decoration: underline;">{$review.checker}</b></button></label>
                            </div>
                        </div>
                    {/empty}
              <table class="table table-bordered" style="margin: 5px" id="mark">
                <thead>
                    <tr>
                      <!-- <th>#</th> -->
                      <th>商品名称</th>
                      <th>供应商</th>
                      <th>商品批次</th>
                      <th>检查时间</th>
                      <th>产品基数</th>
                      <th>抽检数量</th>
                      <th>生产日期</th>
                      <th>保质期</th>
                      <th>外观不良数</th>
                      <th>外观不良率</th>

                    </tr>
                  </thead>
                  <tbody>
                    {volist name='list' id='vo' offset='1'} 
                     <tr data-id="{$vo.id}"> 
                        <td> {$vo.name} </td>
                        <td> {$vo.provider}</td>
                        <td> {$vo.goods_batch}</td>
                        <td> <input type="text" value="{$vo.inspect_time}" name="inspect_time" /> </td>
                        <td> {$vo.product_total}{neq name='vo.product_unit' value='0'}{$vo.product_unit}{/neq}</td>
                        <td> <input type="text" value="{$vo.product_select}" name="product_select" /> {neq name='vo.product_unit' value='0'}{$vo.product_unit}{/neq}</td>
                        <td> <textarea type="text"  name="production_date" >{$vo.production_date}</textarea></td>
                        <td> <input type="text" value="{$vo.expire_date}" name="expire_date" /> </td>
                        <td> <input type="text" value="{$vo.unqualified_num}" name="unqualified_num" /> </td>
                        <td><span>{$vo.unqualified_rate}</span>%</td>  

                    </tr>
                    {/volist}
                    {empty name="list"}
                    <tr>
                        <td colspan='9' style='text-align: center'>请选择采购单，若采购单数据为空，请先申请采购单。</td>
                    </tr>
                    {/empty}
  
                </tbody>
             </table>
            
                
            </div>
        </div>
    </div>
    
    <div class='plus_box'>
    </div>
    
    <div class="box-footer">

        {empty name="review"}
        
        <a class="btn finish" ><i class="fa fa-history"></i> 完 成</a>

        <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
        {else}
        {empty name="review.reviewer"}
            <div class="col-md-6">
                <div class="form-group" >
                    <label>审核意见</label>
                    <span></span>
                        <input type="text" class="form-control" name="review_note" value="" >
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group" >
                   
                        <a class="btn review" ><i class="fa fa-check"></i> 确 认 审 核</a>
                        <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
                </div>
            </div>
        {else}
            <div class="col-md-6">
                <div class="form-group" >
                    <label>品质主管：<span style="font-size: 20px;text-decoration: underline;">{$review.reviewer}</span></label><br>
                    <label>审核时间：<span style="font-size: 18px;text-decoration: underline;">{:date('Y-m-d H:i:s',$review.update_time)}</span></label><br>
                    <label>审核意见：<span style="font-size: 18px;font-weight: normal;">{$review.review_note}</span></label><br>
                    <br>
                    <br>
                    <a class="btn" onclick="javascript:history.back(-1);return false;"><i class="fa fa-history"></i> 返 回</a>
                        
                </div>
            </div>
        {/empty}

        
    {/empty}

        
    </div>

<script type="text/javascript">
    $('.date').datetimepicker({
        language:"zh-CN",
        todayHighlight:true,
        todayBtn:true,
        format:'yyyy-mm-dd',
        minView:1,
        autoclose:true,
        minView:'3'

    });
    $('.datetime').datetimepicker({
        language:"zh-CN",
        todayHighlight:true,
        todayBtn:true,
        format:'yyyy-mm-dd hh:ii',
        minView:1,
        autoclose:true,

    });

    $('input').attr('autocomplete','off');
    if("{:input('review')}"){
        $('table input,select,textarea').attr('disabled','on');
    }

    //完成当前表单数据并提交
    $('.finish').click(function(){
        var confirm = '';
        $('#mark input,textarea').each(function(){
            if($(this).val() == ''){
                $(this).focus();
                confirm = false;
                d= {"code":0,"msg":"当前数据未填写完成"};
                obalert(d);
                return false;
            }
            confirm = true;
        })
        if(!confirm) return false;
        _id = $('#mark tr').eq(1).attr('data-id');
        $.post('?action=recordEdit',{inspection_id:_id},function(d){
            obalert(d);
        })
    })

    //审核提交
    $('.review').click(function(){
        _id = "{:input('review')}";
        _note = $('input[name="review_note"]').val();
        $(this).attr('disabled','on');
        $.post('recordEdit.html',{id:_id,review_note:_note},function(d){
            obalert(d);
            $(this).attr('disabled','off');

        })
    })

    

    $("#selectPurchase").selectPage({
                showField: 'sn',
                keyField: 'id',
                data: '/ps/inspection/mark?action=getPurchase&mark=1&type=2',
                pageSize: 8,
                formatItem : function(data){
                    return  data.sn;
                },
                eAjaxSuccess: function (data) {
                    var result;
                    if (data) result = data;
                    else result = undefined;
                    return result;
                },
                // 选中商品自动完成后;执行事件
                eSelect : function(data){

                    // 清除搜索框内容
                    $('#selectPurchase_text').val(data.sn)
                    $.post('',{purchase_id:data.id},function(d){
                        if(d.code == '1'){
                            content = '';
                            $.each(d.data,function(index, item) {
                               unit = item.product_unit=='0'?'':item.product_unit;

                               content += '<tr data-id="'+item.id+'">' +
                                '<td> '+item.name+' </td>' +
                                '<td> '+item.provider+'</td>' +
                                '<td> '+item.goods_batch+' </td>' +
                                '<td> <input type="text" value="'+item.inspect_time+'" name="inspect_time" /> </td>' +
                                '<td> '+item.product_total+unit+'</td>' +
                                '<td> <input type="text" value="'+item.product_select+'" name="product_select" /> '+unit+'</td>' +
                                '<td> <textarea type="text" value="" name="production_date" >'+item.production_date+'</textarea></td>' +
                                '<td> <input type="text" value="'+item.expire_date+'" name="expire_date" /> </td>' +
                                '<td> <input type="text" value="'+item.unqualified_num+'" name="unqualified_num" /> </td>' +
                                '<td> <span>'+item.unqualified_rate+'</span>% </td>' +

                                '</tr>';

                                    
                            });
                            $('tbody').html(content);
                            $('tbody input').attr("autocomplete",'off');

                        }else{
                            obalert(d);
                        }
                    })

                },
            });

    $("#selectPurchase_text").attr('placeholder',"{$list.0}");
 

    var mydate = new Date();
    h = mydate.getHours()<10? ('0')+mydate.getHours():mydate.getHours();
    i = mydate.getMinutes()<10?('0')+mydate.getMinutes():mydate.getMinutes();
    _time = h+':'+i;


    $('tbody').on('click','input[name="inspect_time"]',function(){
        $(this).val(_time);
        _id   = $(this).parents('tr').attr('data-id');
        $.post('?action=inspectionUpdate',{inspect_time:_time,id:_id},function(d){
            console.log(d);
        })
    })


    $('table').on('change','input,textarea',function(){
        _name = $(this).attr('name');
        _val  = $(this).val();
        _id   = $(this).parents('tr').attr('data-id');
        data  = _name+'='+_val+'&id='+_id;

        //输入判断
        if( _name =='product_select'){
            _total = $(this).parents('tr').children('td').eq(4).text();
            if(parseFloat(_total) < parseFloat(_val)){
                d= {"code":0,"msg":"抽检数不应大于产品总数"};
                obalert(d);
                $(this).val('');
                $(this).focus();
                return false;
            }
        }

         //输入判断
        if( _name =='unqualified_num'){
            _select = $(this).parents('tr').children('td').eq(5).children('input').val();
            if(parseFloat(_select) < parseFloat(_val)){
                d= {"code":0,"msg":"不良数不应大于抽检数"};
                obalert(d);
                $(this).val('');
                $(this).focus();
                return false;
            }
        }

        if(_name=='unqualified_num' || _name=='product_select'){
            _select = $(this).parents('tr').children('td').eq(5).children('input').val();
            _num = $(this).parents('tr').children('td').eq(8).children('input').val();
            if(_select !=='' && _num !==''){
                _rate = ((_num/_select)*100).toFixed(2);
                $(this).parents('tr').children('td').eq(9).children('span').text(_rate);
                data += '&unqualified_rate='+_rate;
            }
        }

        $.post('?action=inspectionUpdate',data,function(d){
            if(d.code == 0){
                obalert(d);
                $(this).focus;
                $(this).val('');
            }
        })

        .fail(function(){
            $(this).val('');
        })
    })
</script>